body {
  // background-image: url(assets/images/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

div {
  text-align: center;
  padding: 20px;
}

table{
  border-collapse: collapse;
}

th{
  padding: 1rem;
}

td, th{
  width: 5rem;
  border: 1px solid #ddd;
}

// .bull{
//   display: none;
// }
.bullet{
  font-size: 2rem;
  display: inline;
}

.douche{
  color: lightblue;
}
.danse{
color: pink;
}
.sortie{
color: rgb(184, 85, 179);
}
.resto{
  color: brown;
}

.douche:hover, .danse:hover, .sortie:hover, .resto:hover{
  cursor: pointer;
}